# Copy this file to .env, .env.dev, .env.staging, or .env.production
# and fill in the values for each environment.

# App
BASE_URL=
MAIL_DOMAIN=

# API
API_DOMAIN=

# Auth
SUPER_ADMIN_EMAIL=
STANDARD_USER_EMAIL=
PASSWORD=

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SSL=false

# Report Portal
REPORT_API_KEY=
REPORT_ENDPOINT=
REPORT_LAUNCH=
